# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/Reference
/.vscode
libs/mcw-furniture-1.0.1-mc1.12.2beta.jar
